<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wisedrive.customerapp">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon1"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".Request_Inspection"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".My_Cars"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activation_Confirmation_Activity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Recommended_Activity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Upgrade_and_Save"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activity_Q_And_A"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Initiate_Claim_Activity_New_Customer_App"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NotificationPage"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".WebPage"
            android:screenOrientation="portrait" />

        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login_customer_app"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".HelpCentre"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerFeedBack"
            android:screenOrientation="portrait" />

      
        <activity
            android:name=".Customer_Home_page_bottom_navigation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Create_Account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Add_New_Car"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Addons"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Confirmation_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Warranty_Description"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_Showroom_Services"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Comprehensive_Warranty"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Sign_In_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Verification_code"
            android:screenOrientation="portrait" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />
    </application>

</manifest>